#text-field-history {
    display: none;
}

.InputfieldColumnWidth {
    position: relative;
}

.field-revisions-toggle.inactive * {
    cursor: help;
    opacity: 0.25;
}

.field-revisions {
    padding: 36px 0 0 0 !important;
    position: absolute;
    margin-top: -28px;
    display: none;
    z-index: 99;
    right: 10px;
}

.field-revisions ul {
    margin: 0;
    line-height: 1em;
    overflow-y: auto;
    max-height: 350px;
    border-radius: 2px;
    padding: 14px 8px 10px 8px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.5);
}

.field-revisions li {
    margin: 0;
}

.field-revisions a {
    float: left;
    margin: 0 5px;
    padding: 5px 4px;
    white-space: nowrap;
    font-weight: normal;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.field-revisions a span {
    float: left;
}

.field-revisions a em {
    float: right;
    padding-left: 2em;
}

.field-revisions a:hover {
    text-shadow: none;
}

.field-revisions .ui-state-active {
    border: 0;
    cursor: default;
    padding: 5px 4px;
}

.field-revisions-loading {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
}